:root {
  --text-color: #394a51;
  --secondary-color: #7fa99b;
  --background-color: rgba(255, 253, 232, 0.4);
  --accent-color: #fdc57b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Jost", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --accent-font: "Cutive Mono", monospace;
}
body {
  color: var(--text-color);
  transition: 0.3s;
}
h1 {
  font-family: var(--secondary-font);
  font-size: 96px;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(57, 74, 81, 0.4);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 48px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}
h2.about {
  margin: 10px;
}

h3 {
  font-family: var(--accent-font);
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}

p,
.paragraph {
  font-family: var(--main-font);
  color: var(--text-color);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
}
.paragraph-image {
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  text-align: center;
}
.about-image {
  height: max-content;
}
.contact {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.button-link {
  font-family: var(--secondary-font);
  font-weight: 600;
  color: white;
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 15px 20px;
  border: 3px solid var(--secondary-color);
  border-radius: 4px;
  margin: 20px;
  box-shadow: var(--box-shadow);
}

.button-link:hover {
  font-family: var(--secondary-font);
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
}

.about-link {
  font-family: var(--secondary-font);
  color: var(--text-color);
  background-color: white;
  text-decoration: none;
  padding: 15px 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  margin: 20px;
}

.about-link:hover {
  color: var(--secondary-color);
}
.button {
  padding: 20px 15px;
}
.about-paragraph {
  display: flex;
  margin: 30px;
  background-color: var(--background-color);
}
.about-paragraph p {
  margin: 20px;
}
.background {
  background-color: var(--background-color);
}
.email-link {
  margin-top: 10px;
  color: var(--text-color);
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}
.email-link:hover {
  text-decoration: none;
  font-weight: 700;
  color: var(--text-color);
}
.main {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.preview {
  max-width: 70%;
  height: auto;
  margin: 20px;
}

strong {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-weight: 700;
}

.navbar-toggler {
  color: var(--secondary-color);
}
.navbar {
  --bs-navbar-color: var(--text-color);
  --bs-navbar-hover-color: var(--secondary-color);
}
.nav-link {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
}
.active {
  font-weight: 400;
  font-size: 18px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #f8f9fa;
}

.icons,
.icon {
  font-size: 35px;
  color: var(--text-color);
  padding: 0 20px;
}
.icons:hover {
  color: var(--secondary-color);
}

.profile-photo {
  width: 60%;
  border-radius: 4px;
  border: 3px solid var(--secondary-color);
}
/* .container {
  margin: 100px 0;
} */
.about-container,
.work-container,
.contact-container {
  margin-top: 150px;
  margin-bottom: 100px;
}
header {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}
.switch {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #7fa99b;
  margin-top: 70px;
  position: relative;
}
.flicker {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb (195 193 198 / 90%);
  transition: 0.3s;
}
.dark {
  background-color: #394a51;
  transition: 0.3s;
  color: rgb(255, 253, 232);
}
.moon {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: -2px;
  left: 28px;
}
.dark .flicker {
  transform: translateX(30px);
}
.dark strong {
  color: rgb(255, 253, 232);
}
.dark .background {
  color: rgb(255, 253, 232);
  background-color: #394a51;
}
.dark .icon {
  color: rgb(255, 253, 232);
  background-color: #394a51;
}

.dark p {
  color: rgb(255, 253, 232);
  background-color: #394a51;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  .about-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
